In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import random

In [2]:
test_filepath = 'data/target_test.csv'
testdata = pd.read_csv(test_filepath)

In [3]:
testdata

,Unnamed: 0,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,Step Duration (sec),Correct Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default)
0,0,10039,0.748749,0.780822,0.858859,1,0.799659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.815118,NaN
1,1,10482,0.748749,0.782694,0.765786,1,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,28
2,2,11024,0.748749,0.843118,0.877551,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.895833,27
3,3,11476,0.748749,0.764244,0.813483,1,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,65
4,4,11948,0.748749,0.837539,0.869625,7,0.667290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.815118,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135,1135,1075314,0.697417,0.780876,0.672727,1,0.567286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.818274,1
1136,1136,1076841,0.839286,0.950820,0.940397,1,0.649885,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.869416,11
1137,1137,1076862,0.839286,0.689895,0.695373,1,0.386699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.815118,NaN
1138,1138,1076891,0.839286,0.780876,0.842105,1,0.737449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.818274,6
1139,1139,1078861,0.721311,0.780876,0.771429,1,0.708077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.585655,23~~2

In [4]:
reference_filepath = 'data/target_train.csv'
reference = pd.read_csv(reference_filepath)

In [5]:
ASIaverage = pd.pivot_table(reference, index = ["Anon Student Id"])
ASIDURA = ASIaverage["Step Duration (sec)"]
PNaverage = pd.pivot_table(reference, index = ["Problem Name"])
PNDURA = PNaverage["Step Duration (sec)"]
STEPaverage = pd.pivot_table(reference, index = ["Step Name"])
STEPDURA = STEPaverage["Step Duration (sec)"]
PHaverage = pd.pivot_table(reference, index = ["Problem Hierarchy"])
PHDURA = PHaverage["Step Duration (sec)"]

In [6]:
tlist = [i for i in range(1140)]

In [7]:
newdata = pd.DataFrame(columns = ["A"], index = tlist)

In [8]:
newdata.insert(0, "Anon Student Id", testdata["Anon Student Id"])
del newdata["A"]

In [15]:
dealmean = STEPDURA.mean()

In [12]:
newdata.insert(1, "Problem Hierarchy", testdata["Problem Hierarchy"])
newdata.insert(2, "Problem Name", testdata["Problem Name"])
newdata.insert(3, "Problem View", testdata["Problem View"])
newdata.insert(4, "Step Name", testdata["Step Name"])
newdata.insert(5, "KC(Default)", testdata["KC(Default)"])
newdata.insert(6, "Opportunity(Default)", testdata["Opportunity(Default)"])

In [13]:
newdata.insert(7, "Step Duration (Anon Student Id)", np.ones(1140))
newdata.insert(8, "Step Duration (Problem Name)", np.ones(1140))
newdata.insert(9, "Step Duration (Step Name)", np.ones(1140))
newdata.insert(10, "Step Duration (Problem Hierarchy)", np.ones(1140))

In [18]:
for i in range(1140):
    newdata["Step Duration (Anon Student Id)"][i] = ASIDURA[testdata["Anon Student Id"][i]]
    newdata["Step Duration (Problem Name)"][i] = PNDURA[testdata["Problem Name"][i]]
    newdata["Step Duration (Problem Hierarchy)"][i] = PHDURA[testdata["Problem Hierarchy"][i]]
    if pd.isnull(newdata["Step Name"][i]):
        newdata["Step Duration (Step Name)"][i] = dealmean
    else:
        newdata["Step Duration (Step Name)"][i] = STEPDURA[testdata["Step Name"][i]]
    if pd.isnull(newdata["Opportunity(Default)"][i]):
        newdata["Opportunity(Default)"][i] = 0
    else:
        value = newdata["Opportunity(Default)"][i].split("~~")
        initial = 0
        for k in value:
            initial = initial + int(k)
        newdata["Opportunity(Default)"][i] = initial

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [21]:
newdata.insert(0, "Row", testdata["Row"])
newdata.insert(12, "Correct First Attempt", testdata["Correct First Attempt"])

In [22]:
newdata

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,KC(Default),Opportunity(Default),Step Duration (Anon Student Id),Step Duration (Problem Name),Step Duration (Step Name),Step Duration (Problem Hierarchy),Correct First Attempt
0,10039,0.748749,0.780822,0.858859,1,0.799659,0.815118,0,35.386580,24.827795,16.123362,27.674073,NaN
1,10482,0.748749,0.782694,0.765786,1,1.000000,1.000000,28,35.386580,30.027649,15.031494,31.010963,NaN
2,11024,0.748749,0.843118,0.877551,1,NaN,0.895833,27,35.386580,24.614852,27.294090,32.234901,NaN
3,11476,0.748749,0.764244,0.813483,1,1.000000,1.000000,65,35.386580,26.036270,15.031494,26.095563,NaN
4,11948,0.748749,0.837539,0.869625,7,0.667290,0.815118,0,35.386580,21.322271,41.088807,27.280598,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135,1075314,0.697417,0.780876,0.672727,1,0.567286,0.818274,1,21.932053,46.148148,50.788252,30.215509,1.0
1136,1076841,0.839286,0.950820,0.940397,1,0.649885,0.869416,11,23.490566,16.236486,50.349728,12.525952,1.0
1137,1076862,0.839286,0.689895,0.695373,1,0.386699,0.815118,0,23.490566,18.931615,34.500000,19.432632,1.0
1138,1076891,0.839286,0.780876,0.842105,1,0.737449,0.818274,6,23.490566,19.724771,25.309900,30.215509,1.0
1139,1078861,0.721311,0.780876,0.771429,1,0.708077,0.585655,25,26.916667,27.132231,30.266093,30.215509,0.0

In [23]:
newdata.to_csv("data/target_clear_test.csv")