In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import random

In [9]:
test_filepath = 'data/target_test.csv'
testdata = pd.read_csv(test_filepath)

In [10]:
testdata

,Unnamed: 0,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,Step Duration (sec),Correct Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default)
0,0,10039,0.748749,0.780822,0.858859,1,0.799659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.815118,NaN
1,1,10482,0.748749,0.782694,0.765786,1,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,28
2,2,11024,0.748749,0.843118,0.877551,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.895833,27
3,3,11476,0.748749,0.764244,0.813483,1,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,65
4,4,11948,0.748749,0.837539,0.869625,7,0.667290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.815118,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135,1135,1075314,0.697417,0.780876,0.672727,1,0.567286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.818274,1
1136,1136,1076841,0.839286,0.950820,0.940397,1,0.649885,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.869416,11
1137,1137,1076862,0.839286,0.689895,0.695373,1,0.386699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.815118,NaN
1138,1138,1076891,0.839286,0.780876,0.842105,1,0.737449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.818274,6
1139,1139,1078861,0.721311,0.780876,0.771429,1,0.708077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.585655,23~~2

In [12]:
reference_filepath = 'data/target_train.csv'
reference = pd.read_csv(reference_filepath)

In [14]:
ASIaverage = pd.pivot_table(reference, index = ["Anon Student Id"])
ASIDURA = ASIaverage["Step Duration (sec)"]
PNaverage = pd.pivot_table(reference, index = ["Problem Name"])
PNDURA = PNaverage["Step Duration (sec)"]
STEPaverage = pd.pivot_table(reference, index = ["Step Name"])
STEPDURA = STEPaverage["Step Duration (sec)"]
PHaverage = pd.pivot_table(reference, index = ["Problem Hierarchy"])
PHDURA = PHaverage["Step Duration (sec)"]

In [15]:
tlist = [i for i in range(1140)]

In [36]:
newdata = pd.DataFrame(columns = ["A"], index = tlist)

In [37]:
newdata.insert(0, "Anon Student Id", testdata["Anon Student Id"])
del newdata["A"]

In [38]:
newdata.insert(1, "Problem Hierarchy", testdata["Problem Hierarchy"])
newdata.insert(2, "Problem Name", testdata["Problem Name"])
newdata.insert(3, "Problem View", testdata["Problem View"])
newdata.insert(4, "Step Name", testdata["Step Name"])
newdata.insert(5, "KC(Default)", testdata["KC(Default)"])
newdata.insert(6, "Opportunity(Default)", testdata["Opportunity(Default)"])

In [39]:
newdata.insert(7, "Step Duration (Anon Student Id)", np.ones(232744))
newdata.insert(8, "Step Duration (Problem Name)", np.ones(232744))
newdata.insert(9, "Step Duration (Step Name)", np.ones(232744))
newdata.insert(10, "Step Duration (Problem Hierarchy)", np.ones(232744))

,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,KC(Default),Opportunity(Default)
0,0.748749,0.780822,0.858859,1,0.799659,0.815118,NaN
1,0.748749,0.782694,0.765786,1,1.000000,1.000000,28
2,0.748749,0.843118,0.877551,1,NaN,0.895833,27
3,0.748749,0.764244,0.813483,1,1.000000,1.000000,65
4,0.748749,0.837539,0.869625,7,0.667290,0.815118,NaN
...,...,...,...,...,...,...,...
1135,0.697417,0.780876,0.672727,1,0.567286,0.818274,1
1136,0.839286,0.950820,0.940397,1,0.649885,0.869416,11
1137,0.839286,0.689895,0.695373,1,0.386699,0.815118,NaN
1138,0.839286,0.780876,0.842105,1,0.737449,0.818274,6
1139,0.721311,0.780876,0.771429,1,0.708077,0.585655,23~~2