In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import random

In [2]:
train_filepath = 'data/target_train.csv'
traindata = pd.read_csv(train_filepath)

In [3]:
traindata

,Unnamed: 0,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,Step Duration (sec),Correct Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default)
0,0,9938,0.748749,0.780822,0.710714,1,0.840635,2005-09-09 12:23:34.0,2005-09-09 12:24:07.0,2005-09-09 12:24:07.0,2005-09-09 12:24:07.0,33.0,33.0,NaN,1.0,0.0,0.0,1.0,0.815118,NaN
1,1,9939,0.748749,0.780822,0.710714,1,0.830499,2005-09-09 12:24:07.0,2005-09-09 12:24:22.0,2005-09-09 12:24:22.0,2005-09-09 12:24:22.0,15.0,15.0,NaN,1.0,0.0,0.0,1.0,0.815118,NaN
2,2,9940,0.748749,0.780822,0.710714,1,0.966708,2005-09-09 12:24:22.0,2005-09-09 12:25:16.0,2005-09-09 12:25:40.0,2005-09-09 12:25:40.0,78.0,NaN,78.0,0.0,2.0,0.0,1.0,0.966708,1
3,3,9941,0.748749,0.780822,0.710714,1,0.404220,2005-09-09 12:25:40.0,2005-09-09 12:25:51.0,2005-09-09 12:27:24.0,2005-09-09 12:27:24.0,104.0,NaN,104.0,0.0,4.0,9.0,1.0,0.443638,1~~1~~1
4,4,9942,0.748749,0.780822,0.710714,1,0.760366,2005-09-09 12:27:24.0,2005-09-09 12:27:30.0,2005-09-09 12:27:30.0,2005-09-09 12:27:30.0,6.0,6.0,NaN,1.0,0.0,0.0,1.0,0.818274,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232739,232739,1078856,0.721311,0.780876,0.771429,1,0.755747,2006-04-12 10:17:08.0,2006-04-12 10:17:17.0,2006-04-12 10:18:19.0,2006-04-12 10:18:19.0,71.0,NaN,71.0,0.0,2.0,5.0,1.0,0.572193,21~~1
232740,232740,1078857,0.721311,0.780876,0.771429,1,0.830499,2006-04-12 10:18:19.0,2006-04-12 10:18:40.0,2006-04-12 10:18:40.0,2006-04-12 10:18:40.0,21.0,21.0,NaN,1.0,0.0,0.0,1.0,0.815118,NaN
232741,232741,1078858,0.721311,0.780876,0.771429,1,0.850848,2006-04-12 10:18:40.0,2006-04-12 10:18:44.0,2006-04-12 10:18:44.0,2006-04-12 10:18:44.0,4.0,4.0,NaN,1.0,0.0,0.0,1.0,0.796053,7
232742,232742,1078859,0.721311,0.780876,0.771429,1,0.404220,2006-04-12 10:18:44.0,2006-04-12 10:18:58.0,2006-04-12 10:20:55.0,2006-04-12 10:20:55.0,131.0,NaN,131.0,0.0,1.0,0.0,1.0,0.443638,8~~5~~11
232743,232743,1078860,0.721311,0.780876,0.771429,1,0.737449,2006-04-12 10:20:55.0,2006-04-12 10:21:07.0,2006-04-12 10:21:07.0,2006-04-12 10:21:07.0,12.0,12.0,NaN,1.0,0.0,0.0,1.0,0.818274,22

In [4]:
reference_path = 'data/clear_train.csv'
reference = pd.read_csv(reference_path)

In [5]:
reference

,Unnamed: 0,Row,Unnamed: 0.1,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,KC(Default),Opportunity(Default),Step Duration (sec),CFAR (Anon Student Id),CFAR (Problem Name),CFAR (Step Name),CFAR (Problem Hierarchy),Step Duration (Anon Student Id),Step Duration (Problem Name),Step Duration (Step Name),Step Duration (Problem Hierarchy)
0,0,9938,0,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R1C1,NaN,NaN,33.0,0.748749,0.710197,0.840631,0.780861,35.386580,40.733454,49.941010,27.674073
1,1,9939,1,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R1C2,NaN,NaN,15.0,0.748749,0.710197,0.830699,0.780861,35.386580,40.733454,32.949725,27.674073
2,2,9940,2,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R3C1,Define Variable,1.0,78.0,0.748749,0.710197,0.966979,0.780861,35.386580,40.733454,10.225832,27.674073
3,3,9941,3,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R3C2,"Using small numbers~~Write expression, positiv...",3.0,104.0,0.748749,0.710197,0.404477,0.780861,35.386580,40.733454,84.677811,27.674073
4,4,9942,4,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R4C1,Entering a given,1.0,6.0,0.748749,0.710197,0.760107,0.780861,35.386580,40.733454,34.228587,27.674073
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232739,232739,1078856,232739,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R5C1,"Entering a given~~Convert unit, mixed",22.0,71.0,0.733333,0.776978,0.755559,0.780905,26.916667,23.101449,26.553470,30.215509
232740,232740,1078857,232740,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R1C2,NaN,NaN,21.0,0.733333,0.776978,0.830699,0.780905,26.916667,23.101449,32.949725,30.215509
232741,232741,1078858,232741,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R2C2,Identifying units,7.0,4.0,0.733333,0.776978,0.851036,0.780905,26.916667,23.101449,15.220813,30.215509
232742,232742,1078859,232742,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R3C2,"Using small numbers~~Write expression, positiv...",24.0,131.0,0.733333,0.776978,0.404477,0.780905,26.916667,23.101449,84.677811,30.215509
232743,232743,1078860,232743,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R6C2,Entering a given,22.0,12.0,0.733333,0.776978,0.737349,0.780905,26.916667,23.101449,25.309900,30.215509

In [8]:
tlist = [i for i in range(232744)]
newdata = pd.DataFrame(columns = ["A"], index = tlist)
newdata.insert(0, "Anon Student Id", traindata["Anon Student Id"])
del newdata["A"]

In [10]:
newdata.insert(1, "Problem Hierarchy", traindata["Problem Hierarchy"])
newdata.insert(2, "Problem Name", traindata["Problem Name"])
newdata.insert(3, "Problem View", traindata["Problem View"])
newdata.insert(4, "Step Name", traindata["Step Name"])
newdata.insert(5, "KC(Default)", traindata["KC(Default)"])
newdata.insert(6, "Opportunity(Default)", traindata["Opportunity(Default)"])
newdata.insert(7, "CFAR (Anon Student Id)", reference["CFAR (Anon Student Id)"])
newdata.insert(8, "CFAR (Problem Name)", reference["CFAR (Problem Name)"])
newdata.insert(9, "CFAR (Step Name)", reference["CFAR (Step Name)"])
newdata.insert(10, "CFAR (Problem Hierarchy)",reference["CFAR (Problem Hierarchy)"])
newdata.insert(11, "Step Duration (Anon Student Id)", reference["Step Duration (Anon Student Id)"])
newdata.insert(12, "Step Duration (Problem Name)", reference["Step Duration (Problem Name)"])
newdata.insert(13, "Step Duration (Step Name)", reference["Step Duration (Step Name)"])
newdata.insert(14, "Step Duration (Problem Hierarchy)", reference["Step Duration (Problem Hierarchy)"])

In [14]:
del newdata["Opportunity(Default)"]
newdata.insert(6, "Opportunity(Default)", reference["Opportunity(Default)"])

In [16]:
newdata.insert(0, "Row", reference["Row"])

In [18]:
newdata.to_csv("data/target_clear_train.csv")

In [19]:
newdata

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,KC(Default),Opportunity(Default),CFAR (Anon Student Id),CFAR (Problem Name),CFAR (Step Name),CFAR (Problem Hierarchy),Step Duration (Anon Student Id),Step Duration (Problem Name),Step Duration (Step Name),Step Duration (Problem Hierarchy)
0,9938,0.748749,0.780822,0.710714,1,0.840635,0.815118,NaN,0.748749,0.710197,0.840631,0.780861,35.386580,40.733454,49.941010,27.674073
1,9939,0.748749,0.780822,0.710714,1,0.830499,0.815118,NaN,0.748749,0.710197,0.830699,0.780861,35.386580,40.733454,32.949725,27.674073
2,9940,0.748749,0.780822,0.710714,1,0.966708,0.966708,1.0,0.748749,0.710197,0.966979,0.780861,35.386580,40.733454,10.225832,27.674073
3,9941,0.748749,0.780822,0.710714,1,0.404220,0.443638,3.0,0.748749,0.710197,0.404477,0.780861,35.386580,40.733454,84.677811,27.674073
4,9942,0.748749,0.780822,0.710714,1,0.760366,0.818274,1.0,0.748749,0.710197,0.760107,0.780861,35.386580,40.733454,34.228587,27.674073
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232739,1078856,0.721311,0.780876,0.771429,1,0.755747,0.572193,22.0,0.733333,0.776978,0.755559,0.780905,26.916667,23.101449,26.553470,30.215509
232740,1078857,0.721311,0.780876,0.771429,1,0.830499,0.815118,NaN,0.733333,0.776978,0.830699,0.780905,26.916667,23.101449,32.949725,30.215509
232741,1078858,0.721311,0.780876,0.771429,1,0.850848,0.796053,7.0,0.733333,0.776978,0.851036,0.780905,26.916667,23.101449,15.220813,30.215509
232742,1078859,0.721311,0.780876,0.771429,1,0.404220,0.443638,24.0,0.733333,0.776978,0.404477,0.780905,26.916667,23.101449,84.677811,30.215509
232743,1078860,0.721311,0.780876,0.771429,1,0.737449,0.818274,22.0,0.733333,0.776978,0.737349,0.780905,26.916667,23.101449,25.309900,30.215509

In [7]:
#change second time
traindata = pd.read_csv("data/target_clear_train_new.csv")

,Unnamed: 0,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,KC(Default),Opportunity(Default),Step Duration (Anon Student Id),Step Duration (Problem Name),Step Duration (Step Name),Step Duration (Problem Hierarchy),Correct First Attempt
0,0,9938,0.748749,0.780822,0.710714,1,0.840635,0.815118,NaN,35.386580,40.733454,49.941010,27.674073,1
1,1,9939,0.748749,0.780822,0.710714,1,0.830499,0.815118,NaN,35.386580,40.733454,32.949725,27.674073,1
2,2,9940,0.748749,0.780822,0.710714,1,0.966708,0.966708,1.0,35.386580,40.733454,10.225832,27.674073,0
3,3,9941,0.748749,0.780822,0.710714,1,0.404220,0.443638,3.0,35.386580,40.733454,84.677811,27.674073,0
4,4,9942,0.748749,0.780822,0.710714,1,0.760366,0.818274,1.0,35.386580,40.733454,34.228587,27.674073,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232739,232739,1078856,0.721311,0.780876,0.771429,1,0.755747,0.572193,22.0,26.916667,23.101449,26.553470,30.215509,0
232740,232740,1078857,0.721311,0.780876,0.771429,1,0.830499,0.815118,NaN,26.916667,23.101449,32.949725,30.215509,1
232741,232741,1078858,0.721311,0.780876,0.771429,1,0.850848,0.796053,7.0,26.916667,23.101449,15.220813,30.215509,1
232742,232742,1078859,0.721311,0.780876,0.771429,1,0.404220,0.443638,24.0,26.916667,23.101449,84.677811,30.215509,0
232743,232743,1078860,0.721311,0.780876,0.771429,1,0.737449,0.818274,22.0,26.916667,23.101449,25.309900,30.215509,1

In [10]:
traindata = traindata.fillna(0)

In [13]:
traindata.to_csv("data/target_clear_train_new.csv")