In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import random

In [2]:
train_filepath = 'data/train.csv'
traindata = pd.read_table(train_filepath)

In [6]:
ASIaverage = pd.pivot_table(traindata, index = ["Anon Student Id"])
ASICFAR = ASIaverage["Correct First Attempt"]
ASIDURA = ASIaverage["Step Duration (sec)"]

In [49]:
PNaverage = pd.pivot_table(traindata, index = ["Problem Name"])
PNCFAR = PNaverage["Correct First Attempt"]
PNDURA = PNaverage["Step Duration (sec)"]

In [8]:
STEPaverage = pd.pivot_table(traindata, index = ["Step Name"])
STEPCFAR = STEPaverage["Correct First Attempt"]
STEPDURA = STEPaverage["Step Duration (sec)"]

In [9]:
PHaverage = pd.pivot_table(traindata, index = ["Problem Hierarchy"])
PHCFAR = PHaverage["Correct First Attempt"]
PHDURA = PHaverage["Step Duration (sec)"]

In [22]:
tlist = [i for i in range(232744)]

In [26]:
newdata = pd.DataFrame(columns = ["A"], index = tlist)

In [28]:
newdata.insert(0, "Anon Student Id", traindata["Anon Student Id"])

In [34]:
newdata.insert(1, "Problem Hierarchy", traindata["Problem Hierarchy"])

In [38]:
newdata.insert(2, "Problem Name", traindata["Problem Name"])

In [39]:
newdata.insert(3, "Problem View", traindata["Problem View"])

In [40]:
newdata.insert(4, "Step Name", traindata["Step Name"])

In [41]:
newdata.insert(5, "KC(Default)", traindata["KC(Default)"])

In [42]:
newdata.insert(6, "Opportunity(Default)", traindata["Opportunity(Default)"])

In [43]:
newdata.insert(7, "CFAR (Anon Student Id)", np.ones(232744))
newdata.insert(8, "CFAR (Problem Name)", np.ones(232744))
newdata.insert(9, "CFAR (Step Name)", np.ones(232744))
newdata.insert(10, "CFAR (Problem Hierarchy)", np.ones(232744))
newdata.insert(11, "Step Duration (Anon Student Id)", np.ones(232744))
newdata.insert(12, "Step Duration (Problem Name)", np.ones(232744))
newdata.insert(13, "Step Duration (Step Name)", np.ones(232744))
newdata.insert(14, "Step Duration (Problem Hierarchy)", np.ones(232744))

In [45]:
newdata.insert(7, "Step Duration (sec)", traindata["Step Duration (sec)"])

In [54]:
tnan = newdata["KC(Default)"][0]
for i in range(232744):
    newdata["CFAR (Anon Student Id)"][i] = ASICFAR[traindata["Anon Student Id"][i]]
    newdata["CFAR (Problem Name)"][i] = PNCFAR[traindata["Problem Name"][i]]
    newdata["CFAR (Step Name)"][i] = STEPCFAR[traindata["Step Name"][i]]
    newdata["CFAR (Problem Hierarchy)"][i] = PHCFAR[traindata["Problem Hierarchy"][i]]
    newdata["Step Duration (Anon Student Id)"][i] = ASIDURA[traindata["Anon Student Id"][i]]
    newdata["Step Duration (Problem Name)"][i] = PNDURA[traindata["Problem Name"][i]]
    newdata["Step Duration (Step Name)"][i] = STEPDURA[traindata["Step Name"][i]]
    newdata["Step Duration (Problem Hierarchy)"][i] = PHDURA[traindata["Problem Hierarchy"][i]]
    if newdata["Step Duration (sec)"][i] == tnan:
        newdata["Step Duration (sec)"][i] = (newdata["CFAR (Anon Student Id)"][i] + newdata["CFAR (Problem Name)"][i] + newdata["CFAR (Step Name)"][i])/3

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [79]:
dealmean = STEPDURA.mean()

In [84]:
STEPDURA = STEPDURA.fillna(dealmean)
len(STEPDURA.dropna())

60709

In [89]:
for i in range(232744):
    if pd.isnull(newdata["Step Duration (Step Name)"][i]):
        newdata["Step Duration (Step Name)"][i] = STEPDURA[traindata["Step Name"][i]]
    if pd.isnull(newdata["Step Duration (sec)"][i]):
        newdata["Step Duration (sec)"][i] = (newdata["CFAR (Anon Student Id)"][i] + newdata["CFAR (Problem Name)"][i] + newdata["CFAR (Step Name)"][i])/3
    if pd.notnull(newdata["Opportunity(Default)"][i]):
        value = newdata["Opportunity(Default)"][i].split("~~")
        initial = 0
        for k in value:
            initial = initial + int(k)
        newdata["Opportunity(Default)"][i] = initial

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [103]:
newdata

,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,KC(Default),Opportunity(Default),Step Duration (sec),CFAR (Anon Student Id),CFAR (Problem Name),CFAR (Step Name),CFAR (Problem Hierarchy),Step Duration (Anon Student Id),Step Duration (Problem Name),Step Duration (Step Name),Step Duration (Problem Hierarchy)
0,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R1C1,NaN,NaN,33.0,0.748749,0.710197,0.840631,0.780861,35.386580,40.733454,49.941010,27.674073
1,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R1C2,NaN,NaN,15.0,0.748749,0.710197,0.830699,0.780861,35.386580,40.733454,32.949725,27.674073
2,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R3C1,Define Variable,1,78.0,0.748749,0.710197,0.966979,0.780861,35.386580,40.733454,10.225832,27.674073
3,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R3C2,"Using small numbers~~Write expression, positiv...",3,104.0,0.748749,0.710197,0.404477,0.780861,35.386580,40.733454,84.677811,27.674073
4,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R4C1,Entering a given,1,6.0,0.748749,0.710197,0.760107,0.780861,35.386580,40.733454,34.228587,27.674073
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232739,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R5C1,"Entering a given~~Convert unit, mixed",22,71.0,0.733333,0.776978,0.755559,0.780905,26.916667,23.101449,26.553470,30.215509
232740,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R1C2,NaN,NaN,21.0,0.733333,0.776978,0.830699,0.780905,26.916667,23.101449,32.949725,30.215509
232741,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R2C2,Identifying units,7,4.0,0.733333,0.776978,0.851036,0.780905,26.916667,23.101449,15.220813,30.215509
232742,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R3C2,"Using small numbers~~Write expression, positiv...",24,131.0,0.733333,0.776978,0.404477,0.780905,26.916667,23.101449,84.677811,30.215509
232743,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R6C2,Entering a given,22,12.0,0.733333,0.776978,0.737349,0.780905,26.916667,23.101449,25.309900,30.215509

In [105]:
newdata.to_csv("data/clear_train.csv")

In [3]:
import pandas as pd
newdata = pd.read_csv("data/clear_train.csv")
traindata = pd.read_table("data/train.csv")

In [6]:
newdata.insert(0, "Row", traindata["Row"])

In [7]:
newdata

,Row,Unnamed: 0,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,KC(Default),Opportunity(Default),Step Duration (sec),CFAR (Anon Student Id),CFAR (Problem Name),CFAR (Step Name),CFAR (Problem Hierarchy),Step Duration (Anon Student Id),Step Duration (Problem Name),Step Duration (Step Name),Step Duration (Problem Hierarchy)
0,9938,0,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R1C1,NaN,NaN,33.0,0.748749,0.710197,0.840631,0.780861,35.386580,40.733454,49.941010,27.674073
1,9939,1,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R1C2,NaN,NaN,15.0,0.748749,0.710197,0.830699,0.780861,35.386580,40.733454,32.949725,27.674073
2,9940,2,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R3C1,Define Variable,1.0,78.0,0.748749,0.710197,0.966979,0.780861,35.386580,40.733454,10.225832,27.674073
3,9941,3,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R3C2,"Using small numbers~~Write expression, positiv...",3.0,104.0,0.748749,0.710197,0.404477,0.780861,35.386580,40.733454,84.677811,27.674073
4,9942,4,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R4C1,Entering a given,1.0,6.0,0.748749,0.710197,0.760107,0.780861,35.386580,40.733454,34.228587,27.674073
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232739,1078856,232739,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R5C1,"Entering a given~~Convert unit, mixed",22.0,71.0,0.733333,0.776978,0.755559,0.780905,26.916667,23.101449,26.553470,30.215509
232740,1078857,232740,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R1C2,NaN,NaN,21.0,0.733333,0.776978,0.830699,0.780905,26.916667,23.101449,32.949725,30.215509
232741,1078858,232741,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R2C2,Identifying units,7.0,4.0,0.733333,0.776978,0.851036,0.780905,26.916667,23.101449,15.220813,30.215509
232742,1078859,232742,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R3C2,"Using small numbers~~Write expression, positiv...",24.0,131.0,0.733333,0.776978,0.404477,0.780905,26.916667,23.101449,84.677811,30.215509
232743,1078860,232743,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R6C2,Entering a given,22.0,12.0,0.733333,0.776978,0.737349,0.780905,26.916667,23.101449,25.309900,30.215509