In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import random

In [7]:
train_filepath = 'data/train.csv'
traindata = pd.read_table(train_filepath)

In [8]:
testdata = traindata.head()

In [9]:
testdata

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,Step Duration (sec),Correct Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default)
0,9938,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R1C1,2005-09-09 12:23:34.0,2005-09-09 12:24:07.0,2005-09-09 12:24:07.0,2005-09-09 12:24:07.0,33.0,33.0,NaN,1,0,0,1,NaN,NaN
1,9939,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R1C2,2005-09-09 12:24:07.0,2005-09-09 12:24:22.0,2005-09-09 12:24:22.0,2005-09-09 12:24:22.0,15.0,15.0,NaN,1,0,0,1,NaN,NaN
2,9940,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R3C1,2005-09-09 12:24:22.0,2005-09-09 12:25:16.0,2005-09-09 12:25:40.0,2005-09-09 12:25:40.0,78.0,NaN,78.0,0,2,0,1,Define Variable,1
3,9941,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R3C2,2005-09-09 12:25:40.0,2005-09-09 12:25:51.0,2005-09-09 12:27:24.0,2005-09-09 12:27:24.0,104.0,NaN,104.0,0,4,9,1,"Using small numbers~~Write expression, positiv...",1~~1~~1
4,9942,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R4C1,2005-09-09 12:27:24.0,2005-09-09 12:27:30.0,2005-09-09 12:27:30.0,2005-09-09 12:27:30.0,6.0,6.0,NaN,1,0,0,1,Entering a given,1

In [1]:
#get the pyspark part
import pyspark as ps

In [2]:
conf = ps.SparkConf()

In [4]:
sc = ps.SparkContext(conf = conf)

In [12]:
#Do a test for pyspark
filedata = sc.textFile("data/testspark.csv")

In [16]:
filedata.collect()

[',Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,Step Duration (sec),Correct Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default)',
 '0,9938,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R1C1,2005-09-09 12:23:34.0,2005-09-09 12:24:07.0,2005-09-09 12:24:07.0,2005-09-09 12:24:07.0,33.0,33.0,,1,0,0,1,,',
 '1,9939,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R1C2,2005-09-09 12:24:07.0,2005-09-09 12:24:22.0,2005-09-09 12:24:22.0,2005-09-09 12:24:22.0,15.0,15.0,,1,0,0,1,,',
 '2,9940,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R3C1,2005-09-09 12:24:22.0,2005-09-09 12:25:16.0,2005-09-09 12:25:40.0,2005-09-09 12:25:40.0,78.0,,78.0,0,2,0,1,Define Variable,1',
 '3,9941,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R3C2,2005-09-09 12:25:40.0,2005-09-09 12:25:51.0,2005-09-09 12:27:24.0,2005-09-09 12:27:24.0,104.0,,104.0,0,4,9,1,"Using small numbers~~Write expression, positive slope~~Using difficult numbers",1~~1~~1',
 '4,9942,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R4C1,2005-09-09 12:27:24.0,2005-09-09 12:27:30.0,2005-09-09 12:27:30.0,2005-09-09 12:27:30.0,6.0,6.0,,1,0,0,1,Entering a given,1']

In [19]:
po = testdata["KC(Default)"]

In [20]:
po

0                                                  NaN
1                                                  NaN
2                                      Define Variable
3    Using small numbers~~Write expression, positiv...
4                                     Entering a given
Name: KC(Default), dtype: object

In [21]:
use = sc.parallelize(po)

In [75]:
#The initial part of the get function
import re
def get(x):
    if pd.isnull(x):
        return ["Nothing"]
    if "SkillRule" in x:
        filds = re.split("~~|;|:", x)
    else:
        filds = re.split(" |~~|;|:",x)
    newlist = list()
    for d in filds:
        deal = d
        deal = deal.strip()
        if "=" in deal:
            deal = deal.strip("{}]")
            newlist.append(deal)
        else:
            deal = deal.strip("{}[]")
            newlist.extend(deal.split())
    return newlist

def getword(x):
    filds = x.split(" ")
    return filds

kd = use.map(get)
print(kd.collect())

[['Nothing'], ['Nothing'], ['Define', 'Variable'], ['Using', 'small', 'numbers', 'Write', 'expression,', 'positive', 'slope', 'Using', 'difficult', 'numbers'], ['Entering', 'a', 'given']]

In [49]:
def fl(x):
    return x

kdd = kd.flatMap(fl)
kdd.countByValue()

defaultdict(int,
            {'Nothing': 2,
             'Define': 1,
             'Variable': 1,
             'Using': 2,
             'small': 1,
             'numbers': 2,
             'Write': 1,
             'expression,': 1,
             'positive': 1,
             'slope': 1,
             'difficult': 1,
             'Entering': 1,
             'a': 1,
             'given': 1})

In [47]:
kddd = kdd.map(getword)
kddd = kddd.flatMap(fl)
kddd.countByValue()

defaultdict(int,
            {'Nothing': 2,
             'Define': 1,
             'Variable': 1,
             'Using': 2,
             'small': 1,
             'numbers': 2,
             'Write': 1,
             'expression,': 1,
             'positive': 1,
             'slope': 1,
             'difficult': 1,
             'Entering': 1,
             'a': 1,
             'given': 1})

In [85]:
def listjoin1(x, y):
    op = list()
    op.extend(x)
    op.extend(y)
    return op

ttest2 = traindata.head(100)["KC(Default)"]
tpyuse = sc.parallelize(ttest2)
tmapre = tpyuse.map(get)
tredre = tmapre.reduce(listjoin1)
tredre = sc.parallelize(tredre)
tretul = tredre.countByValue()

In [86]:
tretul

defaultdict(int,
            {'Nothing': 33,
             'Define': 8,
             'Variable': 8,
             'Using': 42,
             'small': 21,
             'numbers': 42,
             'Write': 8,
             'expression,': 8,
             'positive': 13,
             'slope': 8,
             'difficult': 21,
             'Entering': 31,
             'a': 31,
             'given': 31,
             'Find': 13,
             'X,': 8,
             'Simple': 13,
             'Y,': 5,
             'SkillRule:': 12,
             'Remove': 11,
             'coefficient': 11,
             'ax/b=c, reciprocal': 11,
             'ax/b=c': 11,
             'x/a=b': 11,
             'ax=b': 17,
             'ax+b=c, divide': 6,
             '[const expr]*[var fact] + [const expr] = [const expr], divide': 6,
             '[var expr]*[const expr] = [const expr], divide': 6,
             'a/b*x=c': 6,
             'a/b*x=c, reciprocal': 6,
             '(+/-x +/-a)/b=c, mult': 7,
             'a=x*(b+c)': 6,
             'a=x*(b-c)': 6,
             'a=x*(b*c+d)': 6,
             'x/a+b=c, multiply': 6,
             '[var expr]/[const expr] = [const expr], multiply': 7,
             'Identifying': 1,
             'units': 1,
             'Eliminate': 1,
             'Parens': 1,
             'CLT': 2,
             'nested': 1,
             'nested,': 1,
             'parens': 1,
             'Distribute': 9,
             'Mult': 2,
             'right': 4,
             'left': 4,
             '(+/-x +/-a)*b=c, div': 1,
             'Division': 2,
             'both': 4,
             'mult': 2,
             'divide': 2,
             'subex': 1})

In [94]:
import re
def tget(x):
    if pd.isnull(x):
        return ["Nothing"]
    if "SkillRule" in x:
        filds = re.split("~~|;|:|{", x)
    else:
        filds = re.split(" |~~|;|:",x)
    newlist = list()
    for d in filds:
        deal = d
        deal = deal.strip()
        if "=" in deal:
            if deal[-2:] != "}]" and deal[-1] == "]" and " " not in deal:
                deal = deal.strip("{}")
            else:
                deal = deal.strip("{}]")
            newlist.append(deal)
        else:
            deal = deal.strip("{}[]")
            newlist.extend(deal.split())
    return newlist



def listjoin1(x, y):
    op = list()
    op.extend(x)
    op.extend(y)
    return op


ttest2 = traindata.head(100)["KC(Default)"]
tpyuse = sc.parallelize(ttest2)
tmapre = tpyuse.map(tget)
tredre = tmapre.reduce(listjoin1)
tredre = sc.parallelize(tredre)
tretul = tredre.countByValue()

In [95]:
tretul

defaultdict(int,
            {'Nothing': 33,
             'Define': 8,
             'Variable': 8,
             'Using': 42,
             'small': 21,
             'numbers': 42,
             'Write': 8,
             'expression,': 8,
             'positive': 13,
             'slope': 8,
             'difficult': 21,
             'Entering': 31,
             'a': 31,
             'given': 31,
             'Find': 13,
             'X,': 8,
             'Simple': 13,
             'Y,': 5,
             'SkillRule': 12,
             'Remove': 11,
             'coefficient': 11,
             'ax/b=c, reciprocal': 11,
             'ax/b=c': 11,
             'x/a=b': 11,
             'ax=b': 17,
             'ax+b=c, divide': 6,
             '[const expr]*[var fact] + [const expr] = [const expr], divide': 6,
             '[var expr]*[const expr] = [const expr], divide': 6,
             'a/b*x=c': 6,
             'a/b*x=c, reciprocal': 6,
             '(+/-x +/-a)/b=c, mult': 7,
             'a=x*(b+c)': 6,
             'a=x*(b-c)': 6,
             'a=x*(b*c+d)': 6,
             'x/a+b=c, multiply': 6,
             '[var expr]/[const expr] = [const expr], multiply': 7,
             'Identifying': 1,
             'units': 1,
             'Eliminate': 1,
             'Parens': 1,
             'CLT': 2,
             'nested': 1,
             'nested,': 1,
             'parens': 1,
             'Distribute': 9,
             'Mult': 2,
             'right': 4,
             'left': 4,
             '(+/-x +/-a)*b=c, div': 1,
             'Division': 2,
             'both': 4,
             'mult': 2,
             'divide': 2,
             'subex': 1})

In [96]:
test2 = traindata["KC(Default)"]
pyuse = sc.parallelize(test2)
omapre = pyuse.map(tget)
oredre = omapre.reduce(listjoin1)
oredre = sc.parallelize(oredre)
rretul = oredre.countByValue()
rretul

defaultdict(int,
            {'Nothing': 59255,
             'Define': 7147,
             'Variable': 13057,
             'Using': 43480,
             'small': 14110,
             'numbers': 43480,
             'Write': 7993,
             'expression,': 7993,
             'positive': 28591,
             'slope': 19034,
             'difficult': 7576,
             'Entering': 27568,
             'a': 25036,
             'given': 22780,
             'Find': 13747,
             'X,': 7995,
             'Simple': 3606,
             'Y,': 5752,
             'SkillRule': 93919,
             'Remove': 57276,
             'coefficient': 36954,
             'ax/b=c, reciprocal': 32382,
             'ax/b=c': 32382,
             'x/a=b': 32382,
             'ax=b': 51027,
             'ax+b=c, divide': 18645,
             '[const expr]*[var fact] + [const expr] = [const expr], divide': 18645,
             '[var expr]*[const expr] = [const expr], divide': 18772,
             'a/b*x=c': 18645,
             'a/b*x=c, reciprocal': 18645,
             '(+/-x +/-a)/b=c, mult': 24182,
             'a=x*(b+c)': 18645,
             'a=x*(b-c)': 18645,
             'a=x*(b*c+d)': 18645,
             'x/a+b=c, multiply': 18645,
             '[var expr]/[const expr] = [const expr], multiply': 24309,
             'Identifying': 10760,
             'units': 10760,
             'Eliminate': 9725,
             'Parens': 9725,
             'CLT': 28983,
             'nested': 10169,
             'nested,': 8316,
             'parens': 8316,
             'Distribute': 58170,
             'Mult': 16632,
             'right': 43065,
             'left': 40367,
             '(+/-x +/-a)*b=c, div': 5537,
             'Division': 11074,
             'both': 22148,
             'mult': 11074,
             'divide': 11074,
             'subex': 8316,
             'constant': 20454,
             'ax+b=c, positive': 15440,
             'ax+b=c, negative': 22758,
             'x+a=b, positive': 16590,
             'x+a=b, negative': 16357,
             '[var expr]+[const expr]=[const expr], positive': 15440,
             '[var expr]+[const expr]=[const expr], negative': 15440,
             '[var expr]+[const expr]=[const expr], all': 15440,
             'Combine': 50962,
             'constants': 30880,
             'to': 51276,
             'a-x=b, positive': 15440,
             'a/x+b=c, positive': 15440,
             'a/x+b=c, negative': 15440,
             'Labelling': 8290,
             'the': 12260,
             'axes': 7159,
             'Changing': 13525,
             'axis': 13525,
             'bounds': 9146,
             'intervals': 4379,
             'Convert': 1670,
             'unit,': 1670,
             'standard': 1430,
             'Correctly': 948,
             'placing': 948,
             'points': 1251,
             'simple': 14162,
             'large': 7632,
             'negative': 14702,
             'Make': 601,
             'variable': 601,
             'Consolidate': 28895,
             'vars': 13537,
             'with': 12449,
             'coeff': 24029,
             'Select': 6821,
             'vars,': 16841,
             'no': 12318,
             'combine-like-terms-sp': 3613,
             'Add/Subtract': 5014,
             'Typein': 10669,
             'Skill': 10669,
             'Isolate': 12095,
             'any': 8351,
             'Multiply/Divide': 4882,
             'in': 5937,
             'denominator': 5910,
             'simplify-fractions-sp': 1715,
             'Setting': 2371,
             'y-intercept': 2324,
             'initial': 624,
             'and': 624,
             'change': 326,
             'Calculate': 773,
             'Terms': 1196,
             'perform-mult-sp': 2036,
             'perform-mult-r-sp': 298,
             'distribute-sp': 1256,
             'perform-mult-row2-sp': 567,
             'form': 639,
             'Extract': 1483,
             'consolidate': 1483,
             'factor': 1483,
             'factorb': 1483,
             'factorc': 1483,
             'factord': 1483,
             'Done?': 313,
             'doneleft': 313,
             'doneright': 313,
             'done': 656,
             'solution': 328,
             'Done': 656,
             'No': 656,
             'Solution,': 656,
             'domain': 328,
             'exception': 656,
             'range': 328,
             'infinite': 313,
             'solutions': 328,
             'factor-sp': 707,
             'variables': 18886,
             'right,': 8094,
             'sub': 5396,
             'add': 5423,
             'gen': 5396,
             'left,': 8094,
             'ax+b=cx': 2698,
             'ax+b=cx, move left': 2698,
             'ax+b=cx+d, pos': 2698,
             'ax+b=cx+d, neg': 2698,
             'ax+b=cx+d, move right': 2698,
             'ax+b=cx+d, move two': 2698,
             'ax+b=cx+d, move two2': 2698,
             'x+b=cx+d, pos': 2698,
             'x+b=cx+d, neg': 2698,
             'x+b=cx+d, move right': 2698,
             'x+b=cx+d, move two': 2698,
             'x+b=cx+d, move two2': 2698,
             'ax+b=x+d, pos': 2698,
             'ax+b=x+d, neg': 2698,
             'ax+b=x+d, move right': 2698,
             'ax+b=x+d, move two': 2698,
             'ax+b=x+d, move two2': 2698,
             'x+b=x+d, pos': 2698,
             'x+b=x+d, neg': 2698,
             'x+b=x+d, move right': 2698,
             'x+b=x+d, move two': 2698,
             'x+b=x+d, move two2': 2698,
             'Multiply/Divide,': 1853,
             'MT': 5692,
             'fraction': 2846,
             'combine-like-terms-whole-sp': 919,
             'perform-mult-whole-sp': 854,
             'Multiply': 993,
             'mixed': 187,
             'a/x=[anything]': 1028,
             'a/x=b': 1028,
             'a/x=b, sophisticated': 1028,
             'point': 2878,
             'of': 1131,
             'intersection': 1131,
             'two': 303,
             'Negative': 896,
             'Constant,': 896,
             'SIF': 976,
             'x-intercept,': 197,
             'y-intercept,': 329,
             'Placing': 999,
             'coordinate': 999,
             'Excluding': 224,
             'line': 471,
             'when': 471,
             'shading': 471,
             'Shading': 866,
             'equation': 395,
             'greater': 252,
             'than': 471,
             'Positive': 690,
             'Constants,': 690,
             'Including': 247,
             'less': 219,
             'GLF': 1696,
             'slope,': 165,
             'quadratic': 1168,
             'linear': 1623,
             'value': 2600,
             'computed': 1388,
             'factor-quadratic-sp': 307,
             'qft-num1-sp': 271,
             'qft-num2-sp': 268,
             'qft-den-sp': 262,
             'Apply': 478,
             'Exponent': 478,
             'Expand': 956,
             'Exponents': 478,
             'eval': 478,
             'radical': 956,
             'Exponents,': 478,
             'multiplier': 53,
             'ratio': 44,
             'Identify': 1274,
             'Parent': 1274,
             'Description': 425,
             'Equation': 425,
             'Curve': 424,
             'Choose': 679,
             'Graphical': 679,
             'k': 493,
             'Edit': 682,
             'Algebraic': 682,
             'Refl-v': 123,
             'refl-v': 123,
             'h': 204,
             'x': 27,
             '-x': 27,
             'move': 27,
             'neg': 27,
             'var': 27,
             'other': 27,
             'side': 27,
             'invert-mult': 20,
             'ivm': 20,
             'combine-like-terms-r-sp': 22})

In [119]:
ui = dict(rretul)
ui

{'Nothing': 59255,
 'Define': 7147,
 'Variable': 13057,
 'Using': 43480,
 'small': 14110,
 'numbers': 43480,
 'Write': 7993,
 'expression,': 7993,
 'positive': 28591,
 'slope': 19034,
 'difficult': 7576,
 'Entering': 27568,
 'a': 25036,
 'given': 22780,
 'Find': 13747,
 'X,': 7995,
 'Simple': 3606,
 'Y,': 5752,
 'SkillRule': 93919,
 'Remove': 57276,
 'coefficient': 36954,
 'ax/b=c, reciprocal': 32382,
 'ax/b=c': 32382,
 'x/a=b': 32382,
 'ax=b': 51027,
 'ax+b=c, divide': 18645,
 '[const expr]*[var fact] + [const expr] = [const expr], divide': 18645,
 '[var expr]*[const expr] = [const expr], divide': 18772,
 'a/b*x=c': 18645,
 'a/b*x=c, reciprocal': 18645,
 '(+/-x +/-a)/b=c, mult': 24182,
 'a=x*(b+c)': 18645,
 'a=x*(b-c)': 18645,
 'a=x*(b*c+d)': 18645,
 'x/a+b=c, multiply': 18645,
 '[var expr]/[const expr] = [const expr], multiply': 24309,
 'Identifying': 10760,
 'units': 10760,
 'Eliminate': 9725,
 'Parens': 9725,
 'CLT': 28983,
 'nested': 10169,
 'nested,': 8316,
 'parens': 8316,
 'Distribute': 58170,
 'Mult': 16632,
 'right': 43065,
 'left': 40367,
 '(+/-x +/-a)*b=c, div': 5537,
 'Division': 11074,
 'both': 22148,
 'mult': 11074,
 'divide': 11074,
 'subex': 8316,
 'constant': 20454,
 'ax+b=c, positive': 15440,
 'ax+b=c, negative': 22758,
 'x+a=b, positive': 16590,
 'x+a=b, negative': 16357,
 '[var expr]+[const expr]=[const expr], positive': 15440,
 '[var expr]+[const expr]=[const expr], negative': 15440,
 '[var expr]+[const expr]=[const expr], all': 15440,
 'Combine': 50962,
 'constants': 30880,
 'to': 51276,
 'a-x=b, positive': 15440,
 'a/x+b=c, positive': 15440,
 'a/x+b=c, negative': 15440,
 'Labelling': 8290,
 'the': 12260,
 'axes': 7159,
 'Changing': 13525,
 'axis': 13525,
 'bounds': 9146,
 'intervals': 4379,
 'Convert': 1670,
 'unit,': 1670,
 'standard': 1430,
 'Correctly': 948,
 'placing': 948,
 'points': 1251,
 'simple': 14162,
 'large': 7632,
 'negative': 14702,
 'Make': 601,
 'variable': 601,
 'Consolidate': 28895,
 'vars': 13537,
 'with': 12449,
 'coeff': 24029,
 'Select': 6821,
 'vars,': 16841,
 'no': 12318,
 'combine-like-terms-sp': 3613,
 'Add/Subtract': 5014,
 'Typein': 10669,
 'Skill': 10669,
 'Isolate': 12095,
 'any': 8351,
 'Multiply/Divide': 4882,
 'in': 5937,
 'denominator': 5910,
 'simplify-fractions-sp': 1715,
 'Setting': 2371,
 'y-intercept': 2324,
 'initial': 624,
 'and': 624,
 'change': 326,
 'Calculate': 773,
 'Terms': 1196,
 'perform-mult-sp': 2036,
 'perform-mult-r-sp': 298,
 'distribute-sp': 1256,
 'perform-mult-row2-sp': 567,
 'form': 639,
 'Extract': 1483,
 'consolidate': 1483,
 'factor': 1483,
 'factorb': 1483,
 'factorc': 1483,
 'factord': 1483,
 'Done?': 313,
 'doneleft': 313,
 'doneright': 313,
 'done': 656,
 'solution': 328,
 'Done': 656,
 'No': 656,
 'Solution,': 656,
 'domain': 328,
 'exception': 656,
 'range': 328,
 'infinite': 313,
 'solutions': 328,
 'factor-sp': 707,
 'variables': 18886,
 'right,': 8094,
 'sub': 5396,
 'add': 5423,
 'gen': 5396,
 'left,': 8094,
 'ax+b=cx': 2698,
 'ax+b=cx, move left': 2698,
 'ax+b=cx+d, pos': 2698,
 'ax+b=cx+d, neg': 2698,
 'ax+b=cx+d, move right': 2698,
 'ax+b=cx+d, move two': 2698,
 'ax+b=cx+d, move two2': 2698,
 'x+b=cx+d, pos': 2698,
 'x+b=cx+d, neg': 2698,
 'x+b=cx+d, move right': 2698,
 'x+b=cx+d, move two': 2698,
 'x+b=cx+d, move two2': 2698,
 'ax+b=x+d, pos': 2698,
 'ax+b=x+d, neg': 2698,
 'ax+b=x+d, move right': 2698,
 'ax+b=x+d, move two': 2698,
 'ax+b=x+d, move two2': 2698,
 'x+b=x+d, pos': 2698,
 'x+b=x+d, neg': 2698,
 'x+b=x+d, move right': 2698,
 'x+b=x+d, move two': 2698,
 'x+b=x+d, move two2': 2698,
 'Multiply/Divide,': 1853,
 'MT': 5692,
 'fraction': 2846,
 'combine-like-terms-whole-sp': 919,
 'perform-mult-whole-sp': 854,
 'Multiply': 993,
 'mixed': 187,
 'a/x=[anything]': 1028,
 'a/x=b': 1028,
 'a/x=b, sophisticated': 1028,
 'point': 2878,
 'of': 1131,
 'intersection': 1131,
 'two': 303,
 'Negative': 896,
 'Constant,': 896,
 'SIF': 976,
 'x-intercept,': 197,
 'y-intercept,': 329,
 'Placing': 999,
 'coordinate': 999,
 'Excluding': 224,
 'line': 471,
 'when': 471,
 'shading': 471,
 'Shading': 866,
 'equation': 395,
 'greater': 252,
 'than': 471,
 'Positive': 690,
 'Constants,': 690,
 'Including': 247,
 'less': 219,
 'GLF': 1696,
 'slope,': 165,
 'quadratic': 1168,
 'linear': 1623,
 'value': 2600,
 'computed': 1388,
 'factor-quadratic-sp': 307,
 'qft-num1-sp': 271,
 'qft-num2-sp': 268,
 'qft-den-sp': 262,
 'Apply': 478,
 'Exponent': 478,
 'Expand': 956,
 'Exponents': 478,
 'eval': 478,
 'radical': 956,
 'Exponents,': 478,
 'multiplier': 53,
 'ratio': 44,
 'Identify': 1274,
 'Parent': 1274,
 'Description': 425,
 'Equation': 425,
 'Curve': 424,
 'Choose': 679,
 'Graphical': 679,
 'k': 493,
 'Edit': 682,
 'Algebraic': 682,
 'Refl-v': 123,
 'refl-v': 123,
 'h': 204,
 'x': 27,
 '-x': 27,
 'move': 27,
 'neg': 27,
 'var': 27,
 'other': 27,
 'side': 27,
 'invert-mult': 20,
 'ivm': 20,
 'combine-like-terms-r-sp': 22}

In [118]:
lp = pd.DataFrame(list(ui.items()),columns = ["KC Name", "Appear times"])
lp.to_csv("data/mapreduceresult.csv")